.sidebar {
    height: 100vh;
}
.bordered-text {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.invited-friends {
    border-radius: 30px;
    width: 50px;
}
.profile-banner {
    position: relative;
    height: 250px;
    background: url('../../public/img/banner.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}
.profile-picture {
    bottom: -100px;
    margin-top: -80px;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 4px solid white;
}
.profile-card {
    text-align: center;
    max-width: 500px;
    width: 100%;
}
.subscribe-btn {
    background-color: #ff4880;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.stories-line {
    background-color: white;
    border-radius: 10px;
}
/* Carrusel */
.slick-carousel {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.slick-prev {
    width: 50px;
    height: 50px;
    z-index: 1
}
.slick-next {
    width: 50px;
    height: 50px;
    font-size: 50px;
}
.slick-next::before {
    font-size: 40px;
    color: black;
}
.slick-prev::before {
    font-size: 40px;
    color: black;
}
.product-item {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.charity-info {
    position: relative;
    width: 100%; 
    height: 230px;
    overflow: hidden;
}
.botones-reaction-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-reaction {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-reaction:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-reaction.active {
    background-color: #007bff; /* Azul brillante */
    color: white; /* Color blanco para el icono */
}

/* Estilo para centrar los botones horizontalmente */
.botones-container {
    display: flex;
    justify-content: center;  /* Centra los botones horizontalmente */
    gap: 10px;                /* Espacio entre los botones */
}

/* Estilo inicial para los botones */
.btn-outline {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;  /* Color del texto por defecto */
    border: 1px solid #007bff; /* Bordes de color azul */
}

/* Estilo para el botón activado */
.btn-activo {
    background-color: #70a7ff; /* Azul claro */
    color: white; /* Texto blanco */
}

/* Estilos opcionales para mejorar la visibilidad de los botones */
.btn-outline:hover {
    background-color: #b3d4ff; /* Azul claro en hover */
    color: white;
}

/* Estilo para el botón del carrito cuando está activo */
.btn-cart.activo-cart i {
    color: black; /* Cambiar color del ícono del carrito a negro */
}
