.sidebar {
    height: 100vh;
}
.bordered-text {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.invited-friends {
    border-radius: 30px;
    width: 50px;
}
.profile-banner {
    position: relative;
    height: 250px;
    background: url('../../public/img/banner.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}
.profile-picture {
    bottom: -100px;
    margin-top: -80px;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 4px solid white;
}
.profile-card {
    text-align: center;
    max-width: 500px;
    width: 100%;
}
.subscribe-btn {
    background-color: #ff4880;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.stories-line {
    background-color: white;
    border-radius: 10px;
}

/* Carrusel */
.slick-carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.product-item {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    color: black; /* Cambia el color de las flechas si lo deseas */
}

.charity-info {
    position: relative;
    width: 100%; /* Asegura que el div mantenga su tamaño */
    height: 230px;
    overflow: hidden;
}

.botones-charity-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-charity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-charity:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
